#main {
    padding: 10px;
    margin: 100px;
    color: Green;
    width: 365px;
 }
#display_results {
    color:#222222; padding:5px;
    background: #eeeeee;
}
/*fonts*/
@font-face {
     font-family: jackFrost;
     src: url('JackFrost.otf'); 
}
@font-face {
     font-family: Assassin$;
     src: url('localhost/blogapp/app/webroot/fonts/Assassin$.ttf'); 
}
/*testlang*/
.styledselect select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
 }
/*loading*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://localhost/blogapp/app/webroot/img/load.gif') 50% 50% no-repeat rgb(249,249,249);
}
/** CSS code **/
body {
	background-color: white;
	margin-top: 45px;
	font-family: "Arial", sans-serif;
	border: none;
}
/*searchcss*/
.scss {
	font-size: 22px; 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
/*background*/
.bgBlogapp {
	background-image: url("http://localhost/blogapp/app/webroot/img/wer.png");
    background-repeat: repeat;
}
/*layout*/
.font {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 36px;
}
.headTop {
    margin-top: -.4cm;
}
.blogtop {
	padding-top: 5px;
}
.adjust {
	margin-top: -.3cm;
}
.carouselTop {
	margin-top: 3cm;
}
.formstyle {
	text-decoration: none;
	font-size: 14px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.foot {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: black;
    text-transform: uppercase;
	font-size: 16px;
	font-style: normal;
}
.selection {
	background-color:black; 
	color: white; 
	border:none; 
	font-size: 20px;
	padding: none;

}
.sidebar { 
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color:#F92672;
    text-transform: capitalize;
	font-size: 12px;
	font-style: normal;
}
/*sidebar h4*/
.sidebar h4 {
	border-bottom: 1px solid #ddd;	
	padding: 5px 10px;
}

.sidebar ul{
	padding: 5px 10px;
}
.text {
	width: 230px;
	/*border: 1px solid #F92672;
	border-left: 4px solid #F92672;*/
}
/*footermedia*/
.sideMedia{
	margin-right: 6cm;
	margin-left: -.40cm;
	margin-top: 1cm;
}
/*sigin*/
.rcorners {
    border-radius: 25px;
    border: 2px solid gray; 
}

/*fonts*/
h2 {	
	font-family:Times New Roman;
	color: #F92672;
	font-size: 30px;	
}
.author {
	font-size: 12px;
	color: black;	
}
.cp {
	font-family:  Jack Frost;
	font-size: 50px;
	letter-spacing: 2px;
    color: red;
    margin-top: 1.5cm;
}
.blogpar {
   	color: black;
   	font-size: 12px;
   	margin-bottom: 1.5cm;
}
.head3 {
    font-family:Lucida Sans Unicode;
	font-size: 18px;
}
h5 {
    font-size: 18px;
}
/*home.ctp css*/
.style {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    background-color: #00BFFF;
	border-radius: 5px;
    letter-spacing:  1px;
    padding-top: 1px;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
}
/*.jumbotron-up{
	margin-top: -1.5cm;
}*/
/*h4 font all pages*/
.title{
	text-align:center;
	color: #00BFFF;
	letter-spacing:  5px;
	font-family: Limelight;
	font-size: 70px;
}
.p {
	text-align:left;
	font-family:Lucida Sans Unicode;
	font-size: 24px;
}
/*flash message*/
.exit{
    font-size:18px; 
    background-color: #eccecf;
    border:none; 
    float:right; 
    color:red;
}
.error { 
	color:black;
	border-left:2px solid #9e0b0f;
	padding:10px;
    margin-left: .7cm;
    margin-right: .7cm;
	font-weight:bold;
}
.error2 { 
	color:black;
	border-left:2px solid #9e0b0f;
	padding:10px;
	font-weight:bold;
}
.error3 { 
	margin-top: -3%;
	color:black;
	border-left:2px solid #9e0b0f;
	padding:10px;
	font-weight:bold;
}
.success { 
	color: black;
	border-left:2px solid #bedf5d; 
	padding:10px; 
	font-weight:bold;
	margin-top: 1cm;
}
/*tooltip layout*/
.heading  {
    color: black;
    background-color: white;
}
.toolcss {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:5px;
	color:#fff;
	font-size:12px;
    font-family: Arial;
}
/*nav menu and links*/
/*heading*/
.head a:link {
	font-family:Lucida Sans Unicode;
	text-transform: capitalize;
     color: #00BFFF;
}
.head a:visited {
    color: #00BFFF;
}
.head a:hover {
    color: #00BFFF;
}
.head .active {
    color: #00BFFF;
}
/*Navigation Bar*/
.menu a:link {
	font-size: 14px;
    font-family:  Jack Frost;
    letter-spacing: 2px;
	text-transform: uppercase;
    color: white;

}
.menu a:visited {
    color: #00BFFF;
}
.menu a:hover {
	border: none;
    color: #F92672; 
}
.menu a:active {
    color: black;
}
/*Title and NAme*/
.topic a:link {
	text-decoration: none;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    letter-spacing: 2px;
	text-transform: capitalize;
    color: #353839;
}
.topic a:visited {
    color: #353839;

}
.topic a:hover {
	border: none;
     color: #00BFFF;
}
.topic .active {
    color: #00BFFF;
}
/*next and previous*/
.conti a:link {
	text-decoration: none;
	font-size: 12px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    letter-spacing: 2px;
	text-transform: uppercase;
    color: #00BFFF;;
}
.conti a:visited {
    color: #00BFFF
}
.conti a:hover {
	border: none;
    color: black;
}
.conti a:active {
     color: #00BFFF;
}
/*paginate*/
.paginate a:link {
	text-decoration: none;
	font-size: 12px;
	font-family:Georgia;
    letter-spacing: 2px;
	text-transform: uppercase;
    color: black;
}
.paginate a:visited {
    color: #00BFFF;
}
.paginate a:hover {
	border: none;
	text-decoration: none;
    color: #00BFFF;
}
.paginate a:active {
    color: #00BFFF;
}
/*FD971F*/
/*login */
.log a:link{
	text-decoration: none;
	list-style-type: none;
	color: black;
}
/*sidebar*/
.sideli :link {
	text-decoration: none;
	font-size: 14px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    letter-spacing: 2px;
	text-transform: capitalize;
    color: black;
}
.sideli :visited {
    color: black;
}
.sideli :hover {
	border: none;
    color: #00BFFF;
}
.sideli :active {
    color: black;
}
/*.profile */
.profile a:link {
	text-decoration: none;
	font-size: 14px;
	font-family:Arial;
    letter-spacing: 2px;
	text-transform: capitalize;
    color: #00BFFF;
}
.profile a:visited {
    color: #00BFFF;
}
.profile a:hover {
	border: none;
    color: black;
}
.profile a:active {
    color: #00BFFF;
}
/*title head*/
.homeTitle a:link {
	font-size: 22px;
	color:black;
	text-decoration: none;
}
/*socialmedia*/
.media a:link {
	text-decoration: none;
	letter-spacing: 12px;
    color: gray;
}
.media a:visited {
    color: gray;
}
.media a:hover {
	border: none;
    color: gray;
}
.media .active {
   color: gray;
}
/*footer*/
a.footer:link {
	text-decoration: none;
	font-size: 16px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    letter-spacing: 2px;
	text-transform: capitalize;
    color: gray;
}
.footer a:visited {
    color: gray;
}
.footer a:hover {
	border: none;
	text-decoration: none;
    color: black;
}
.footer a:active {
    color: gray;
}
/*social media*/
.fb a:hover { 
	text-decoration: none;
	font-size: 22px;
	border: none;	
	color: #0052cc;
}
.gmail a:hover { 
	text-decoration: none;
	font-size: 22px;
     color: red;		
}
.twitter a:hover{ 
	text-decoration: none;
	font-size: 22px;
	color: #00BFFF;	
}
.redit a:hover{ 
	text-decoration: none;
	font-size: 22px;	
	color: #FF7F24;
}
.pin a:hover{ 
	text-decoration: none;
	font-size: 22px;
	color: #DC143C;
}
.gthub a:hover{ 
	text-decoration: none;
	font-size: 22px;
	color: black;
}
/*footer socialmedia*/
.fb {
	font-size: 22px;
	color: gray;
}
.gthub {
	font-size: 22px;
	color: gray;
}
.gmail{ 
	font-size: 22px;
	color: gray;	
}
.twitter { 
	font-size: 22px;
	color: gray;
}
.redit { 
	font-size: 22px;
	color: #F5F5F5;
}
.pin { 
	font-size: 22px;
	color: gray;
}


